.App {
  font-family: sans-serif;
}
.home button{
  padding: 5px 15px;
  font-size: 14px;
}
.navlink{
  padding: 0 10px;
}
.all-videos{
  display: flex;
  flex-wrap: wrap;
}
.video-card{
  padding: 10px;
  margin: 10px;
  border: 1px solid;
}
.video-card img{
  width: 300px;
}